@use "../styles/declarations.scss" as d;

$card-size: 320px;
$gap-size: 1em;

.GamesList {
  &Container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($card-size, 1fr));
    grid-auto-rows: $card-size;
    grid-gap: $gap-size;
    padding: $gap-size;
    @media (max-width: d.$screen-break-point) {
      font-size: 0.7em;
      grid-template-columns: repeat(auto-fill, minmax($card-size/2, 1fr));
      grid-auto-rows: $card-size/2;
      grid-gap: $gap-size/2;
      padding: $gap-size/2;
    }
  }
  &Card {
    @include d.card;
    box-sizing: border-box;
    text-decoration: unset;
    color: unset;
    position: relative;
    overflow: hidden;
    .background {
      @include d.overlay;
      opacity: 0.2;
      filter: blur(2px);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }
    //ribbon
    $first-color: #f1b301;
    $second-color: #190e15;
    $line-size: 2em;

    @keyframes move-background {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x:  $line-size*1.425;
      }
    }

    &:hover > .underConstructionRibbon {
      padding: 1em;
      animation: move-background 2s both linear infinite;
    }
    .underConstructionRibbon {
      position: absolute;
      box-sizing: border-box;
      padding: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      background-color: $first-color;
      background-image: repeating-linear-gradient(
        45deg,
        transparent,
        transparent $line-size/2,
        $second-color $line-size/2,
        $second-color $line-size
      );
      background-position-x: 2em;
      background-size: repeat(2, $line-size*1.425);
      background-size: 2.85em 2.85em;
      transition: 0.2s;
      &::after {
        content: "under construction";
        display: inline-block;
        background-color: $first-color;
        color: $second-color;
        line-height: 1em;
        font-weight: bolder;
        padding: 0.1em 0.3em;
      }
    }
  }
}
